.vscode/
*.pyc
*.log.*
*.log
.vscode
*.egg-info
__pycache__
.DS_Store
.vs
configs/digital_editions.yml
sls_api/scripts/xslt/*
sls_api/scripts/get-pip.py
sls_api/scripts/test.py
sls_api/scripts/templates/*

sls_api/configs/digital_editions.yml
sls_api/configs/security.yml
sls_api/configs/sentry.yml